body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #607d8b;
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #607d8b;
	button {
		font-family: 'Lato', 'sans-serif';
		color: #fff;
	}
} // Card styling
.card {
	position: relative;
	display: flex;
	min-height: 18em;
	width: 36em;
	background-color: #fff; // box-shadow: 0px 10px 10px #888888;
	margin: 3em;
	border-radius: 3px;
	section {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-content: center;
		padding: 2em;
		justify-content: space-between;
	}
	p {
		margin: auto;
		text-align: center;
		&:nth-child(2) {
			text-align: right;
			margin: 0;
		}
	}
}

.topl-border {
	position: absolute;
	top: 10;
	left: 10;
	height: 1.5em;
	width: 3em;
	border-top: 4px solid #000;
	border-left: 4px solid #000;
}

.bottomr-border {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 1.5em;
	width: 3em;
	border-bottom: 4px solid #000;
	border-right: 4px solid #000;
}

#getMoreBtn {
	padding: .6em 0;
	width: 8em;
	border-radius: 3px;
	border: none;
	background-color: #607d8b;
	font-size: 1em;
	font-weight: 700;
}

.social-btn-con {
	flex: 1;
	position: absolute;
	width: 100%;
	bottom: 0; // height: 1em; // width: 100vw;
	border: 1px solid #000;
	text-align: center;
	align-self: flex-start;
}

.quote-con {
	display: inline-block;
	width: 100%;
	font-size: 2em;
	margin-bottom: 1em;
	.fa {
		display: inline;
	}
}

.author-con {
	display: flex;
	justify-content: space-between;
}

#quote {
	display: inline;
	font-style: italic;
	text-align: center;
	p {
		text-align: center;
		display: inline;
	}
}

#author {
	font-family: 'Yesteryear', cursive;
	font-size: 1.5em;
}